html 
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body 
        h1=title
        include ../components/header
        include ../components/errors
        if locals.user 
            div welcome back! #{user.firstName}
            button 
                a(href="/logOut") Log Out 
        else
            include ../components/signUp
            include ../components/logIn

        if users 
            ul
                for user in users
                    li #{user.first_name} #{user.last_name}, Member: #{user.is_member} Admin: #{user.is_admin} 
                        

                        